.button {  
    -fx-background-color: linear-gradient( mediumorchid , silver);
}

.button:hover {
    -fx-background-color: #cc99ff;
    -fx-text-fill: white;
}

.button:pressed, .button:default:hover:pressed {
  -fx-text-fill: black;
}